PVE1_API_URL=https://10.100.0.100:8006/api2/json
PVE1_API_TOKEN_ID=terraform@pve!codex
PVE1_API_TOKEN_SECRET=codex-datacenter-token
PVE1_NODE=pve-1
PVE1_STORAGE=local-lvm
PVE1_BRIDGE=vmbr0
PVE1_TEMPLATE_VM_ID=9000

PVE2_API_URL=https://10.100.0.101:8006/api2/json
PVE2_API_TOKEN_ID=terraform@pve!codex
PVE2_API_TOKEN_SECRET=codex-datacenter-token
PVE2_NODE=pve-2
PVE2_STORAGE=local-lvm
PVE2_BRIDGE=vmbr0
PVE2_TEMPLATE_VM_ID=9000

CLUSTER_NAME=datacenter
K3S_INSTALL_CHANNEL=stable
K3S_CLUSTER_TOKEN=datacenter-lab-bootstrap-token
KUBECONFIG_PATH=$HOME/.kube/datacenter.yaml

CP1_IP=10.100.0.111
CP2_IP=10.100.0.112
CP3_IP=10.100.0.113
SSH_USER=ubuntu
SSH_PRIVATE_KEY_PATH=$HOME/.ssh/id_ed25519
GITHUB_REPO_USERNAME=billdotdev
GITHUB_FINE_GRAINED_PAT=github_pat_replace_me

GHCR_USERNAME=billdotdev
GHCR_PULL_TOKEN=ghp_replace_me
